@CHARSET "ISO-8859-1";

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.root {
     -fx-background-image: url("background.jpg");
     -fx-background-repeat: stretch; 
     -fx-background-size: 1130 540;
}


#welcome-text,#login {
   -fx-fill: #ffffff;
}

#user-name,#user-password,#signup-name,#signup-password,#dob,#address,#play-schedule,#userplay-schedule,#seats {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}